@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-title: "Playfair Display", serif;
    --font-subtitle: "Montserrat", sans-serif;
    --font-body: "Noto Sans", sans-serif;

    --color-offwhite: #fdfcf8;
    --color-beige: #ded5ca;
    --color-medbeige: #b6a9a3;
    --color-darkbeige: #796b61;
    --color-deepbrown: #3F3431;
    --color-blueblack: #323b4c;

  }
}

@layer utilities {
  .bg-background {
    background-color: var(--color-offwhite);
  }
  .text-foreground {
    color: var(--color-blueblack);
  }
  .font-title{
    font-family: var(--font-title);
    font-weight: 900;
  }
  .font-subtitle{
    font-family: var(--font-subtitle);
  }
  .font-body{
    font-family: var(--font-body);
  }
}

@layer base {
  * {
    @apply border;
    border: none;
    color: var(--color-blueblack);
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-body);
    padding-top: 4rem;
    z-index: -1;
    justify-items: center;
  }
}
